{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search page</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
</head>
<body>
    <div class="continer">
        <div class="nav">
            <div style="display: flex;">
                <img src="{% static 'img/user 3.png'%}">
                <p class="username">{{request.user.username}}</p>
                <i class="fas fa-ellipsis-v text-white"></i>
            </div>
            <div style="text-align: center;">
                <input type="text" name="search" id="search" placeholder="discover ur friends">
            </div>
        </div>
        <div class="chatlist"></div>
        <div class="nav_bottom">
            <a href="{% url 'home' %}"><i id="homePage" class="fa fa-home"></i></a>
            <a href="{% url 'searchPage' %}"><i  class="fa fa-search search"></i></a>
            <a href="{% url 'profile' %}"><i id="account" class="fa fa-user"></i></a>
        </div>
    </div>

    <script>
        document.querySelector("#account").classList.remove("active");
        document.querySelector("#homePage").classList.remove("active");
        document.querySelector(".search").classList.add("active");
       
        document.getElementById("search").onkeyup = function() {searchUsers(document.querySelector("#search").value)}

        function searchUsers(name){
            document.querySelector(".chatlist").innerHTML="<div></div>"
        if( name.length>0){  
    var url = 'search/'+ name;
    fetch(url, {
        headers:{
            'content-type': 'application/json',
            'accept': 'application/json',
            // 'X-CSRFToken' : csrftoken ,
        }
    })
    .then((response => response.json()))
    .then((data) => {
        if(data['data'] == "no such user found"){
            document.querySelector(".chatlist").innerHTML = "user not found";
        }
        else{
        console.log(data);
        createUsers(data);
        }
    })
    }
    }
    function createUsers(data){
        console.log(data['data'].length)
        for(i = 0;i <data['data'].length; i++ ){
            document.querySelector(".chatlist").innerHTML +=`<a href="" style="text-decoration:none; color: inherit;">
                <div class="list">
                    <img src="{% static 'img/user 3.png'%}">
                <div>
                    <p class="mess_username">${data['data'][i].username}</p>
                    <p class="lastmassage">${data['data'][i].name}</p>
                </div>
                </div>
            </a>`
        }
    }
    </script>

</body>
</html>